<h1>Hi %recipient.firstName%</h1>
<p class="text-larger">An booking was just submitted to {{brand}}:</p>
{{#if booking.email}}
	<p class="text-larger">From
	{{#if booking.name}}
		<strong>{{booking.name}}</strong>
	{{/if}}

	{{#if booking.email}}
		(<a href="mailto:{{booking.email}}">{{booking.email}}</a>)
	{{/if}}
	</p>

	{{#if booking.phone}}
		<p class="text-larger">Phone: {{booking.phone}}</p>
	{{/if}}

	{{#if booking.address}}
		<p class="text-larger">Address: {{booking.address}}</p>
	{{/if}}

	{{#each booking.cart}}
		<p class="text-larger"> + Item: {{product.name}}, quantity: {{quantity}}</p>
	{{/each}}

	<p class="text-muted">Sent {{underscoreFormat booking 'createdAt'}}</p>
{{/if}}
